body {
  font-family: Arial, sans-serif;
  background-image: url('https://images.unsplash.com/photo-1490818387583-1baba5e638af?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fHw%3D');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}