<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Review Details</title>
    <meta charset="UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "/static/css/add_review.css">
  </head>
  <body>
    <nav class = "navbar navbar-expand-lg navbar-light bg-dark">
      <a class = "navbar-brand" href = "restaurant_page.html" style="color: white;">Restaurants</a>
      <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarNav" aria-controls = "navbarNav" aria-expanded = "false" aria-label = "Toggle navigation">
        <span class = "navbar-toggler-icon"></span>
      </button>
      <a class = "navbar-brand" href = "review_page.html" style="color: white;">Reviews</a>
      <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "#navbarNav" aria-controls = "navbarNav" aria-expanded = "false" aria-label = "Toggle navigation">
        <span class = "navbar-toggler-icon"></span>
      </button>
      <div class = "collapse navbar-collapse" id = "navbarNav">
        <form class = "form-inline ml-auto" action = "/search" method = "POST">
          <input class = "form-control mr-sm-2" type = "text" id = "search" name = "search" placeholder = "Name/Cuisine/Rating" style = "color: black;">
          <button class = "btn btn-outline-success my-2 my-sm-0" type = "submit">Search</button>
        </form>
        <ul class = "navbar-nav ml-2">
          <li class = "nav-item">
            <a class = "nav-link" href = "add_restaurant.html" style = "color: white;">Add Restaurant</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href = "add_review.html" style = "color: white;">Add Review</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href = "account_details.html" style = "color: white;">Account</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href = "data_visualisation.html" style = "color: white;">Visualization</a>
          </li>
          <li class = "nav-item">
            <a class = "nav-link" href = "/" style = "color: white;">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class = "container">
      <div class = "row">
        <div class = "col-md-6" id = "left"></div>
        <div class = "col-md-6" id = "right1">
          <div>
            <h2>Add a Review</h2>
            <form id = "reviewForm" action = "/insert_review" method = "post">
              <div class = "form-group">
                <label for = "restaurant_name">Restaurant Name</label>
                <input type = "text" class = "form-control" id = "restaurant_name" name = "restaurant_name" placeholder = "Restaurant Name" required>
              </div>
              <div class = "form-group">
                <label for = "rating">Rating</label>
                <input type = "number" class = "form-control" id = "rating" name = "rating" placeholder = "Give a rating out of 5" step = "0.1" required>
              </div>
              <div class = "form-group">
                <label for = "review">Review</label>
                <input type = "text" class = "form-control" id = "review" name = "review" placeholder = "Give your review" required>
              </div>
              <button type = "submit" class = "btn btn-primary">Add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    
    <script src = "https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src = "https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>

